= form_for @client, remote: true do |f|
  .form-group
    %h4.control-label
      = t('.title')
  %div{:class => "item form-group#{@client.errors[:name].any? ? 'has-error has-feedback' : ''}"}
    = f.label :name, t('.name')
    .input-group
      = f.text_field :name, class: 'form-control', placeholder: t('.placeholder.name')
      - if @client.errors[:name].any?
        %p.categories-errors
          = @client.errors[:name].to_s[/\w([^"]*)/]
  %div{:class => "item form-group#{@client.errors[:address].any? ? 'has-error has-feedback' : ''}"}
    = f.label :address, t('.address')
    .input-group
      = f.text_field :address, class: 'form-control', placeholder: t('.placeholder.address')
      - if @client.errors[:address].any?
        %p.categories-errors
          = @client.errors[:address].to_s[/\w([^"]*)/]
  %div{:class => "item form-group#{@client.errors[:email].any? ? 'has-error has-feedback' : ''}"}
    = f.label :email, t('.email')
    .input-group
      = f.email_field :email, class: 'form-control', placeholder: t('.placeholder.email')
      - if @client.errors[:email].any?
        %p.categories-errors
          = @client.errors[:email].to_s[/\w([^"]*)/]
  %div{:class => "item form-group#{@client.errors[:telephone].any? ? 'has-error has-feedback' : ''}"}
    = f.label :telephone, t('.telephone')
    .input-group
      = f.text_field :telephone, class: 'form-control', placeholder: t('.placeholder.telephone')
      - if @client.errors[:telephone].any?
        %p.categories-errors
          = @client.errors[:telephone].to_s[/\w([^"]*)/]                  
  .actions.col-md-9.col-sm-9.col-xs12.col-md-offset-3
    = f.submit @client.new_record? ? t('.submit.create') : t('.submit.edit'), class: 'btn btn-success'