// Close the modal
$('#modalClients').modal('toggle');

toastr.success('Nuevo cliente creado!', 'Confirmado', {closeButton:true, progressBar: true});

// Add via Ajax the new item created in a rowtable from the view
// without asking the server again nor refreshing the page.
$('#tableClients').append(
  '<tr id="client_<%= @client.id %>" >' +
    '<td><%= @client.name %></td>' +
    '<td><%= @client.address %></td>' +
    '<td><%= @client.email %></td>' +
    '<td><%= @client.telephone %></td>' +
    '<td>' +
      '<%= link_to "Editar", edit_client_path(@client), class: "btn btn-xs btn-info", remote: true %>' +
      '<%= link_to "Borrar", @client, class: "btn btn-xs btn-danger", remote: true, method: :delete, data: { confirm: "¿Desea Borrar Este Cliente: #{@client.name}?"} %>' +
    '</td>'+ 
  '</tr>'
);
