= form_for @category, remote: true do |f|
  .form-group
    %h4.control-label
      = t('.title')
  %div{:class => "item form-group#{@category.errors[:name].any? ? 'has-error has-feedback' : ''}"}
    = f.label :name, t('.name')
    .input-group
      = f.text_field :name, class: 'form-control', placeholder: t('.placeholder.name') 
      - if @category.errors[:name].any?
        %p.categories-errors
          = @category.errors[:name].to_s[/\w([^"]*)/]
  %div{:class => "item form-group#{@category.errors[:description].any? ? 'has-error has-feedback' : ''}"}
    = f.label :description, t('.description') #'Nombre Categoría'
    .input-group
      = f.text_field :description, class: 'form-control', placeholder: t('.placeholder.name')#'Ingrese description'
      - if @category.errors[:description].any?
        %p.categories-errors
          = @category.errors[:description].to_s[/\w([^"]*)/]
  .actions.col-md-9.col-sm-9.col-xs12.col-md-offset-3
    = f.submit @category.new_record? ? t('.submit.create') : t('.submit.edit'), class: 'btn btn-success'