// Close the modal
$('#modalCategories').modal('toggle');

toastr.success("<%= t('toastr.category.created') %>", 
               "<%= t('toastr.category.confirm') %>", 
               {closeButton:true, progressBar: true
              });

// Add via Ajax the new item created in a rowtable from the view
// without asking the server again nor refreshing the page.
$('#tablaCategories').append(
  '<tr id="category_<%= @category.id %>" >' +
    '<td><%= @category.name %></td>' +
    '<td><%= @category.description %></td>' +
    '<td>' +
      '<%= link_to t(".toastr.edit"), edit_category_path(@category), class: "btn btn-xs btn-info", remote: true %>' +
      '<%= link_to t(".toastr.delete"), @category, class: "btn btn-xs btn-danger", remote: true, method: :delete, data: { confirm: "¿Desea Borrar la Categoría: #{@category.name}?"} %>' +
    '</td>'+ 
  '</tr>'
);
