%h1.h3.mb-2.text-gray-800
  = t('.category_title')
%p.mb-4
  = t('.category_desc')

.card.shadow.md-4
  .card-header.py-3
    %h6.m-0.font-weight-bold.text-primary
      = t('.category_list')
  .px-4.pt-2
    =link_to  new_category_path, id: 'add-new-category', class:'btn btn-success', remote: true do
      %span.fas.fa-plus-square    
      = t('.new_button')
  .card-body
    .table-responsive
      %table#tablaCategories.table.table-border{:width => "100%"}
        %thead
          %tr
            %th=t('.table.name')
            %th=t('.table.description')
            %th=t('.table.actions')
        %tbody
          - @categories.each do |category|
            %tr{:id => "category_#{category.id}"}
              %td= category.name
              %td= category.description
              %td
                = link_to t('.table.edit'), edit_category_path(category), class: 'btn btn-xs btn-info', remote: true
                = link_to t('.table.delete'), category, class: 'btn btn-xs btn-danger', remote: true, method: :delete, data: { confirm: t('.table.confirm_message',name: category.name)}

= render 'modal'

:javascript
  $( document ).ready( function(){
    $('#tablaCategories').DataTable({
       "iDisplayLength": 5,
       "lengthMenu": [[5, 10, 15, 20, 25, 50, -1], [5, 10, 15, 20, 25, 50, "All"]]
    });
  });

