// Close the modal
$('#modalSuppliers').modal('toggle');

// Show toaster message
toastr.info("<%= t('toastr.suppliers.updated') %>", 
               "<%= t('toastr.suppliers.confirm') %>", 
               {closeButton:true, progressBar: true
              });
// Replace via Ajax the item edited/updated in a rowtable from the view
// without asking the server again nor refreshing the page.
$('#supplier_<%= @supplier.id %>').replaceWith(
  '<tr id="supplier_<%= @supplier.id %>" >' +
    '<td><%= @supplier.name %></td>' +
    '<td><%= @supplier.email %></td>' +
    '<td><%= @supplier.address %></td>' +
    '<td><%= @supplier.telephone %></td>' +
    '<td>' +
    '<%= link_to t(".toastr.edit"), edit_supplier_path(@supplier), class: "btn btn-xs btn-info", remote: true %>' +
    '<%= link_to t(".toastr.delete"), @supplier, class: "btn btn-xs btn-danger", remote: true, method: :delete, data: { confirm: "¿Desea Borrar la Categoría: #{@supplier.name}?"} %>' +
    '</td>'+ 
  '</tr>'
);
