!!!
%html{:lang => 'en'}
  %head
    - csrf_meta_tags
    - csp_meta_tag
    
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'width=device-width, initial-scale=1, shrink-to-fit=no', :name => 'viewport'}/
    %meta{:content => 'SB Admin2_Dashboard', :name => 'description'}/
    %meta{:content => 'Oscar M. Olivera', :name => 'author'}/
    %title SB Admin 2 - Dashboard

    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body#page-top
    #wrapper
      = render 'shared/sidebar'
      #content-wrapper.d-flex.flex-column
        #content
          = render 'shared/topbar'
          .container-fluid
            =yield
        = render 'shared/footer'

    = render 'shared/logout_modal'  

